.main-card {
    border-radius: 10px;
    background-color: #fff;
    /* width: 100%; */
    margin: 5% 5%;
}
.name {
    color: indigo;
    font-size: 15px;
}
.prof {
    color: rgb(129, 124, 124);
    font-size: 10px;
}
.flex-row {
    display: flex;
}
.flex-row-card {
    display: flex;
    width: 90%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row img {
    margin: 2% 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.error {
    margin-left: 0%;
}
.flex-gap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.lady-img {
    margin-right: 2%;
}
.right-margin {
    /* margin-right: 45%; */
    gap: 15px;
    padding-left: 10px;
}
.fa-exclamation-circle {
    color: red;
}
.fa-check-square-o {
    color: green;
}
.fa-instagram {
    color: rgb(228, 82, 106);
}
